@font-face {
    font-family: 'ProFontWindows';
    src: url('ProFontWindows.ttf');
    src: url('ProFontWindows.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
zion-terminal {
    color:white; 
    background-color:black; 
    font-size: 9pt;
    line-height: 1em;
    font-family: ProFontWindows; 
    font-smooth: never;
    white-space: pre; 
    display:inline-block;
    overflow-x: hidden;
    overflow-y: auto; 
    text-overflow: ellipsis;
    border: 1px solid black;
    width:41em;
    height:24em; 
}
zion-caret {
    display:inline-block;
    position:absolute;
    margin-left:-1px;
    border:1px solid blue;
    width:6px;
    height:0.9em;
}
zion-terminal.bell {
    animation-name:bellglow; 
    animation-duration:1s;
}
zion-caret {
    animation-name:zionglow; 
    animation-duration:1s;
    animation-iteration-count:infinite;
}
@keyframes bellglow { 
    from  { box-shadow:0px 0px 4px 2px #C00000; }
    50%   { box-shadow:0px 0px 0px 0px #000000; }
    to    { box-shadow:0px 0px 4px 2px #C00000; }
}
@keyframes zionglow { 
    from  { box-shadow:0px 0px 4px 2px #0000C0; }
    50%   { box-shadow:0px 0px 0px 0px #000000; }
    to    { box-shadow:0px 0px 4px 2px #0000C0; }
}
zion-file {
    display: inline-block;
    min-width:  16px;
    min-height: 16px;
}

