#terminal-container {
    width: 570px;
}

/* DBG */
.tests {
    position: absolute;
    right:0;
}
.tests code {
    white-space:pre;
    font-family:monospace;
    font-size: 8pt;
    margin:5px;
    border:1px solid gray;
    border-radius: 5px;
    padding:5px;
    display:block;
}

